body {
  background-color: #eaf6f6;
}

hr {
  width: 5%;
  border-style: dotted none none none;
  border-color: grey;
  border-width: 5px;
}

h1 {
  color: #68b0ab;
}
h3 {
  color: #68b0ab;
}
h2 {
  color: #68b0ab;
}
